* {
  box-sizing: border-box;
}

.educationDetailHeading {
  position: relative;
  left: 15px;
  top: 12px;
  width: fit-content;
  border-radius: 5px;
  padding: 2px;
  background: white;
}

.addMoreIcon {
  position: relative;
  background: white;
  bottom: 21px;
  left: 230px;
  cursor: pointer;
}

.edDetails{
  border: 2px solid grey;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.eduDetails {
  border: 1px solid #B5C0D0;
  padding: 14px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5px;
}

.eduDetails input{
  outline: none;
  border: none;
  background: #dfe4ea;
  border-radius: 5px;
  padding: 5px;
}

.removeEdu{
  width: 40px;
  height: 40px;
  position: relative;
  bottom: 30px;
  left: 218px;
  cursor: pointer;
  background: white;
}
// .educationDetailHeading{
//   position: relative;
//   left: 15px;
//   top: 12px;
//   width: fit-content;
//   border-radius: 5px;
//   padding: 2px;
//   background: white;
// }